
@{
    ViewBag.Title = "Index";
}

<img src="Zooexpress.jpg" class="picture" />
    <body>
        
        <h3 class="text-left"> 
                <span>Działy</span>
        </h3>


        <div id="mapa">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1BWkDedrWdBPyeIYSw6uUACxIeT76V9Yl" width="800" height="600"></iframe>
        </div>
    </body>