@{
    ViewBag.Title = "Home Page";
}
<img src="Zooexpress.jpg" class="picture"/>
<body>
    <div class="jumbotron">
        
        <p class="lead">
            <span>
                Witaj w aplikacji, która umożliwia nadzorowanie nad zasobami magazynowymi.
                <br>W zakładce produkty możesz dodawać i edytować pozycje.
                <br>W zakładce "działy" znajdziesz kontakt do poszczególnych działów.
            </span>
        </p>
    </div>

    <div class="row">
        <div class="col-md-4">

            <h2>Dział zabawkowy</h2>
            <p>
                Pokój nr 1
                <br>zabawkize@gmail.com
                <br>582220103
            </p>
        </div>
        <div class="col-md-4">

            <h2>Dział karm dla zwierząt</h2>
            <p>
                Pokój nr 2
                <br>karmyze@gmail.com
                <br>582220104
            </p>
        </div>
        <div class="col-md-4">
            <h2>Dział akcesoriów</h2>
            <p>
                Pokój nr 3
                <br>akcesoriaze@gmail.com
                <br>582220105
            </p>
        </div>
    </div>
</body>